@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 23, 55);
  min-height: 100vh;
}

.url-shortener-container {
  background-color: rgb(10, 23, 55);
  padding: 20px 30px;
  width: 100%;
}

.search-input-container, .search-output-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.search-input-url {
  border: 1px solid #e3e3e3;
  outline: none;
  padding: 12px 15px;
  font-size: 1rem;
  border-radius: 7px;
  width: 70%;
  max-width: 800px;
  color: #36383b;
  border: 2px solid transparent;
}

.search-input-url:active, .search-input-url:focus {
  border: 2px solid #009edd;
}

.btn-grad {
  background-image: linear-gradient(to right, #5C258D 0%, #4389A2  51%, #5C258D  100%)
}

.btn-grad {
  padding: 14px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  /* box-shadow: 0 0 20px #eee; */
  border-radius: 7px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.search-btn {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  border: none;
  display: flex;
  width: 157.13px !important;
  justify-content: center;
}

.search-output-container {
  overflow: hidden;
  flex-direction: column;
}

.search-error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffbbba;
  outline: none;
  padding: 12px 15px;
  font-size: 1rem;
  border-radius: 7px;
  width: 70%;
  min-width: 250px;
  width: fit-content;
  max-width: 800px;
  color: #36383b;
  transition: transform 0.8s ease-in;
  transform: translateY(-150%);
}

.d-none {
  display: none;
}

.show-error-toast {
  display: flex;
  transition: transform 0.8s ease-out;
  transform: translateY(0);
}

.search-output {
  max-width: 800px;
  background-color: #fff;
  border-radius: 7px;
  padding: 12px 20px;
  width: 100%
}

.search-output .search-output-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.long-url-container {
  width: 100%;
  max-width: 380px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.long-url {
  white-space: nowrap;
}

.url-and-icon-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
}

.short-url {
  text-decoration: none;
  color: blue;
}

.copy-icon-container {
  padding: 6px 8px;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #e6e7ec;
}

.copy-icon-container:hover {
  cursor: pointer;
  background-color: #ecedf9;
}

.copy-text {
  margin-right: 8px;
}

.copy-icon {
  cursor: pointer;
  width: auto;
  height: 20px;
  margin-top: 2px;
}

.popular-urls-container {
  border: 2px solid blue;
}

.long-url {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width:600px) {
  .search-input-url {
    width: 100%
  }
  .search-input-container {
    flex-direction: column;
  }
  .search-output .search-output-contents {
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .long-url-container {
    max-width: none;
  }
  .url-and-icon-container {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .url-and-icon-container {
    gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .copy-icon-container {
    width: 100%;
  }
  .search-output {
    padding: 10px;
  }
}